@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap');

@mixin roboto-condensed_700 {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 700;
}

@mixin roboto_700 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
}

@mixin roboto_400 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin bg-gradient_green {
  background: linear-gradient(180deg, #8CB928 0%, #45AE4D 100%);
}

@mixin adaptive($property, $minSize, $maxSize) {
  #{$property}: calc(#{$minSize + px} + (#{$maxSize - $minSize}) * ((100vw - 375px) / (960 - 375)));
}

@mixin adaptive__2($property, $minSize, $maxSize, $minSize2, $maxSize2) {
  #{$property}: calc(#{$minSize + px} + (#{$maxSize - $minSize}) * ((100vw - 375px) / (960 - 375))) calc(#{$minSize2 + px} + (#{$maxSize2 - $minSize2}) * ((100vw - 375px) / (960 - 375)));
}



